* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: bebas;
  src: url(../assets/fonts/BebasNeue-Regular.ttf); }

@font-face {
  font-family: rubik;
  src: url(../assets/fonts/RubikVinyl-Regular.ttf); }

@font-face {
  font-family: blinker;
  src: url(../assets/fonts/Blinker-Bold.ttf); }

.carousel_slide {
  size-adjust: 20px;
  padding: 20px; }

body {
  margin: 0%;
  padding: 0%; }

html,
body {
  background-color: white;
  width: 100%; }

header {
  background-image: url(../assets/fridat.jpg);
  font-family: blinker;
  justify-content: space-between;
  align-items: flex-end;
  height: 110px;
  font-size: 30px;
  width: 100%;
  z-index: 15;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*position: sticky;*/ }

header img {
  display: flex;
  width: 170px;
  gap: 10px;
  padding: 20px;
  object-position: center; }

nav {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box; }

nav a {
  color: white; }

nav ul {
  display: flex;
  gap: 25px;
  padding: 30px; }

.cardprod1 {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 75%;
  height: 100%; }

.cardprod2 {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 75%;
  height: 100%; }

.cardprod3 {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 75%;
  height: 100%; }

.cardprod4 {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 75%;
  height: 100%; }

.cardprod5 {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 75%;
  height: 100%; }

.cardprod6 {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 75%;
  height: 100%; }

.productos {
  font-family: blinker;
  background-color: white;
  font-size: 30px;
  display: flex;
  object-position: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #b6a8ae;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%; }

.prodtext {
  display: flex;
  font-size: 25px;
  text-align: center; }

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .cardprod1 {
    font-size: 20px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod2 {
    font-size: 20px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod3 {
    font-size: 20px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod4 {
    font-size: 20px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod5 {
    font-size: 20px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod6 {
    font-size: 20px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  footer {
    font-size: 10px; } }

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .cardprod1 {
    font-size: 15px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod2 {
    font-size: 15px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod3 {
    font-size: 15px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod4 {
    font-size: 15px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod5 {
    font-size: 15px;
    background-color: beige;
    width: 100%;
    padding: 1px; }
  .cardprod6 {
    font-size: 15px;
    background-color: beige;
    width: 100%;
    padding: 1px; } }

.descfooter {
  display: flex;
  align-items: center; }

.mapa {
  padding: 30px; }

footer {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: bebas;
  background-color: black;
  background-position: left bottom;
  position: center;
  background-size: 100%;
  min-height: 1px;
  padding: 10px;
  gap: 10px; }

footer {
  font-size: 10px; }

.form__btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px; }

.btn--form {
  background-color: #950000; }

.hero__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center; }

.hero {
  font-family: blinker;
  color: #3a3a3a;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: beige; }

.hero__titulo {
  font-size: 50px;
  position: relative; }

.second-color {
  color: #d03a3a; }

.btn {
  color: #ebebeb;
  background-color: #d03a3a;
  padding: 1px;
  width: 200px;
  border-radius: 15px;
  font-family: blinker;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px; }

@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .hero__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center; }
  .hero {
    font-family: blinker;
    color: #3a3a3a;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: beige; }
  .hero__titulo {
    font-size: 35px;
    position: relative; }
  .second-color {
    color: #6cf2fc; }
  .btn {
    color: #ebebeb;
    background-color: #8bc9b7;
    padding: 1px;
    width: 200px;
    border-radius: 15px;
    font-family: blinker;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px; } }

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .hero__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center; }
  .hero {
    font-family: blinker;
    color: #3a3a3a;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: beige; }
  .hero__titulo {
    font-size: 25px;
    position: relative; }
  .second-color {
    color: #6cf2fc; }
  .btn {
    color: #ebebeb;
    background-color: #8bc9b7;
    padding: 1px;
    width: 200px;
    border-radius: 15px;
    font-family: blinker;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; } }

body {
  margin: 0%;
  padding: 0%; }

html,
body {
  background-color: white;
  width: 100%; }

header {
  background-image: url(../assets/fridat.jpg);
  font-family: blinker;
  justify-content: space-between;
  align-items: flex-end;
  height: 110px;
  font-size: 30px;
  width: 100%;
  z-index: 15;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*position: sticky;*/ }

header img {
  display: flex;
  width: 170px;
  gap: 10px;
  padding: 20px;
  object-position: center; }

nav {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box; }

nav a {
  color: white; }

nav ul {
  display: flex;
  gap: 25px;
  padding: 30px; }

.contenidoindex {
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 5px;
  padding: 10px; }

.carouselExampleCaptions {
  display: flex;
  align-items: center; }

.carousel_slide {
  height: 70%; }

img {
  width: 60%;
  justify-content: center; }

.card {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  width: 60%;
  height: 100%;
  border: 5px solid #7ad8e9; }

h1 {
  font-family: blinker;
  text-align: center;
  padding: 25px; }

h2 {
  background-color: none;
  font-family: blinker;
  text-align: center;
  padding: 25px; }

.card__body p {
  text-align: center;
  padding: 30px;
  font-size: 30px; }

.portada {
  background-color: #59CEE6;
  font-family: blinker;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 50px; }

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .card__body p {
    text-align: center;
    padding: 30px;
    font-size: 20px; }
  .portada {
    background-color: #59CEE6;
    font-family: blinker;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 50px; } }

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .card__body p {
    text-align: center;
    padding: 30px;
    font-size: 15px; }
  .portada {
    background-color: #59CEE6;
    font-family: blinker;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 50px; } }

@media only screen and (min-width: 300px) and (max-width: 700px) {
  header img {
    display: flex;
    width: 140px;
    gap: 7px;
    padding: 17px;
    object-position: center; }
  header {
    height: 120px;
    font-size: 18px;
    object-position: center;
    width: 100%;
    height: 70%; } }

.contenidoindex {
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 5px;
  padding: 10px; }

.accordion-item {
  background-color: #61c985;
  text-align: center;
  font-size: 25px;
  font-family: blinker; }

.contacto {
  background-image: url(/assets/perropedido.jpg);
  align-items: center;
  width: 100%;
  z-index: 105; }

.form {
  background-color: rgba(255, 255, 255, 0.575);
  color: black;
  font-size: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-radius: 5px; }

.form__content {
  display: flex;
  width: 700px;
  flex-direction: column;
  gap: 10px;
  font-family: rubik;
  align-items: center; }

.form__content--check {
  display: flex;
  font-family: bebas;
  width: 60%;
  align-items: center;
  justify-content: space-between; }
