
.contenidoindex {
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 5px;
    padding: 10px;
}


.carouselExampleCaptions {
    display: flex;
    align-items: center;
}

.carousel_slide {
    height: 70%;
}

img {
    width: 60%;
    justify-content: center;
}

.card {

    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 5px solid rgb(122, 216, 233);

}


h1 {
    font-family: blinker;
    text-align: center;
    padding: 25px;

}

h2 {
    background-color: none;
    font-family: blinker;
    text-align: center;
    padding: 25px;
}


.card__body p {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.portada {
    background-color: #59CEE6; 
    font-family: blinker;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 50px;
}



@media only screen and (min-width:501px) and (max-width:1000px) {
    
    .card {

        background-color: rgb(255, 255, 255);
        display: flex;
        gap: 10px;
        padding: 20px;
        align-items: center;
        height: 100%;
        width: 100%;
        border: 5px solid rgb(122, 216, 233);
    
    }

    .card__body p {
        text-align: center;
        padding: 30px;
        font-size: 20px;
    }
    
    .portada {
        background-color: #59CEE6; 
        font-family: blinker;
        display: block;
        justify-content: space-between;
        gap: 25px;
        padding: 50px;
    }
}

@media only screen and (min-width:301px) and (max-width:500px) {
    .card__body p {
        text-align: center;
        padding: 30px;
        font-size: 15px;
    }
    
    .portada {
        background-color: #59CEE6; 
        font-family: blinker;
        display: block;
        justify-content: space-between;
        gap: 25px;
        padding: 50px;
    }
}

@media only screen and (min-width:150px) and (max-width:300px) {
    .card__body p {
        text-align: center;
        padding: 30px;
        font-size: 10px;
    }
    
    h2 {
        background-color: none;
        font-family: blinker;
        text-align: center;
        padding: 15px;
    }

    .portada {
        background-color: #59CEE6; 
        font-family: blinker;
        display: block;
        justify-content: space-between;
        gap: 25px;
        padding: 50px;
    }
}


