
header {
    background-image: url(../assets/fridat.jpg);
    font-family: blinker;
    height: 110px;
    font-size: 30px;
    width: 100%;
    z-index: 15;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*position: sticky;*/

}

header img {
    width: 130px;
    gap: 10px;
    padding: 20px;
    object-position: center;
}

nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    box-sizing: border-box;

}

nav a {
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    gap: 25px;
    padding: 30px;

}

li:hover {
    background-color: rgba(44, 96, 190, 0.548);
    border-radius: 5px;
    transition: .4s;
    padding: 5px;
    }

    @media only screen and (min-width:100px) and (max-width:460px) {
        nav ul {
            display: block;
            gap: 25px;
            padding: 30px;
        
        }
    }




@media only screen and (min-width:100px) and (max-width:500px) {


        header img {
            display: flex;
            width: 110px;
            gap: 7px;
            padding: 17px;
            object-position: center;
        }
        
        header {
    
            font-size: 18px;
            object-position: center;
            width: 100%;
            position: sticky;
        }

        }

        @media only screen and (min-width:501px) and (max-width:1000px) {

            header img {
                display: flex;
                width: 110px;
                gap: 7px;
                padding: 17px;
                object-position: center;
            }
            
            header {
        
                font-size: 22px;
                object-position: center;
                width: 100%;
                position: sticky;
        
            }
        
            }
    
    
    
    