
.hero__contenedor {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
}


.hero {
    font-family: blinker;
    color: rgb(58, 58, 58);
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: beige;
}

.hero__titulo {
    font-size: 50px;
    position: relative;
}

.second-color {
    color: #d03a3a;
}

.btn {
    color: rgb(235, 235, 235);
    background-color: #d03a3a;
    padding: 1px;
    width: 200px;
    border-radius: 15px;
    font-family: blinker;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;

}

@media only screen and (min-width:501px) and (max-width:1200px) {


    .hero__contenedor {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        align-items: center;
    }
    
    
    .hero {
        font-family: blinker;
        color: rgb(58, 58, 58);
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: beige;
    }
    
    .hero__titulo {
        font-size: 35px;
        position: relative;
    }
    
    .second-color {
        color: #6cf2fc;
    }
    
    .btn {
        color: rgb(235, 235, 235);
        background-color: #8bc9b7;
        padding: 1px;
        width: 200px;
        border-radius: 15px;
        font-family: blinker;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    
    }

}

@media only screen and (min-width:150px) and (max-width:500px) {


    .hero__contenedor {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        align-items: center;
    }
    
    
    .hero {
        font-family: blinker;
        color: rgb(58, 58, 58);
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: beige;
    }
    
    .hero__titulo {
        font-size: 17px;
        position: relative;
    }
    
    .second-color {
        color: #6cf2fc;
    }
    
    .btn {
        color: rgb(235, 235, 235);
        background-color: #8bc9b7;
        padding: 1px;
        width: 200px;
        border-radius: 15px;
        font-family: blinker;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    
    }

}