@font-face {
    font-family: bebas;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../assets/fonts/RubikVinyl-Regular.ttf);
}

@font-face {
    font-family: blinker;
    src: url(../assets/fonts/Blinker-Bold.ttf);
}
